
# üé¨ IMDb Movie Analysis Case Study

This project explores a movie dataset using SQL and Python (Pandas + SQLAlchemy).  
Our goal is to extract meaningful insights like top-rated movies, common genres, prolific directors, and more.

**Tools Used**:
- MySQL Database
- Python (Pandas, SQLAlchemy)
- Jupyter Notebook

---

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from getpass import getpass
import os

if os.path.exists("database/imdb.db"):
   
    engine = create_engine("mysql:///database/imdb.db")
else:
    
    password = os.getenv("RED950rose%") or getpass("Enter MySQL password: ")
    engine = create_engine(f"mysql+pymysql://root:{password}@localhost/imdb")

In [4]:
# üìå Question 1: Top 10 Highest Rated Movies (min 1000 votes)
query1 = """
SELECT m.title, r.avg_rating, r.total_votes
FROM movie m
JOIN ratings r ON m.id = r.movie_id
WHERE r.total_votes >= 1000
ORDER BY r.avg_rating DESC
LIMIT 10;
"""
df1 = pd.read_sql(query1, engine)
print("\nüé¨ Top 10 Highest Rated Movies (Votes >= 1000):\n", df1)

üé¨ Top 10 Highest Rated Movies (Votes >= 1000):
                             title  avg_rating  total_votes
0                Love in Kilnerry        10.0         2360
1                             Fan         9.6         1010
2  Android Kunjappan Version 5.25         9.6         1176
3                            Safe         9.5         1017
4                            Zana         9.4         3932
5                          Wheels         9.3        17407
6                   T√µde ja √µigus         9.2         1415
7             Ekvtime: Man of God         9.2         2622
8                         Peranbu         9.2        10618
9                   Ardaas Karaan         9.2         1286

üß† Analysis:‚Äì Top 10 Highest Rated Movies (min 1000 votes)

Query Purpose:

--To find the most critically acclaimed movies by selecting those with an average rating and a minimum of 1000 votes.

Insights:

--Filtering by total_votes >= 1000 ensures the ratings are statistically reliable.

--Sorting by avg_rating DESC highlights the best-performing films.

--These movies represent top-rated titles enjoyed by a large audience.

In [5]:
# üìå Question 2: Most Common Genres
query2 = """
SELECT genre, COUNT(*) AS genre_count
FROM genre
GROUP BY genre
ORDER BY genre_count DESC
LIMIT 10;
"""
df2 = pd.read_sql(query2, engine)
print("\nüé≠ Most Common Genres:\n", df2)

üé≠ Most Common Genres:
        genre  genre_count
0      Drama         4285
1     Comedy         2412
2   Thriller         1484
3     Action         1289
4     Horror         1208
5    Romance          906
6      Crime          813
7  Adventure          591
8    Mystery          555
9     Sci-Fi          375

üß† Analysis:‚Äì Most Common Genres

Query Purpose:

--To determine which genres appear most frequently in the movie database.

Insights:

--Genres represent audience preferences and storytelling formats.

--Knowing the most common genres helps understand trends in content production.

--Filmmakers and platforms can use this insight to invest in popular genres.

In [6]:
# üìå Question 3: Country-wise Movie Count
query3 = """
SELECT country, COUNT(*) AS movie_count
FROM movie
GROUP BY country
ORDER BY movie_count DESC
LIMIT 10;
"""
df3 = pd.read_sql(query3, engine)
print("\nüåç Movies by Country:\n", df3)

üåç Movies by Country:
        country  movie_count
0          USA         2260
1        India         1007
2           UK          387
3       Canada          209
4        Japan          202
5       France          195
6       Turkey          166
7      Germany          146
8  South Korea          127
9        Italy          123

üß† Analysis:‚Äì Country-wise Movie Count

Query Purpose:

--To identify which countries have produced the most movies.

Insights:

--This query reveals dominant regions in global film production.

--Countries with high counts often have large film industries (e.g., USA, India).

--It also helps assess international diversity in the dataset.

In [7]:
# üìå Question 4: Most Frequent Directors
query4 = """
SELECT n.name AS director_name, COUNT(*) AS movie_count
FROM director_mapping d
JOIN names n ON d.name_id = n.id
GROUP BY director_name
ORDER BY movie_count DESC
LIMIT 5;
"""
df4 = pd.read_sql(query4, engine)
print("\nüë®‚Äçüé• Top 5 Most Frequent Directors:\n", df4)

üë®‚Äçüé• Top 5 Most Frequent Directors:
   director_name  movie_count
0    A.L. Vijay            5
1  Andrew Jones            5
2     Sion Sono            4
3  Justin Price            4
4   √ñzg√ºr Bakar            4

üß† Analysis:‚Äì Most Frequent Directors

Query Purpose:

--To find the directors who have directed the highest number of movies.

Insights:

--Directors with a high number of films are likely experienced or well-established.

--Helps identify key contributors to the industry.

--Can be used for career tracking, collaboration decisions, or industry influence.

In [8]:
# üìå Question 5: Top 10 Movies by Worldwide Gross Income
query5 = """
SELECT title, worlwide_gross_income
FROM movie
WHERE worlwide_gross_income IS NOT NULL AND worlwide_gross_income != ''
ORDER BY CAST(REPLACE(REPLACE(worlwide_gross_income, '$', ''), ',', '') AS UNSIGNED) DESC
LIMIT 10;
"""
df5 = pd.read_sql(query5, engine)
print("\nüí∞ Top 10 Grossing Movies:\n", df5)

üí∞ Top 10 Grossing Movies:
                                      title worlwide_gross_income
0                        Avengers: Endgame          $ 2797800564
1                   Avengers: Infinity War          $ 2048359754
2                            The Lion King          $ 1655156910
3                            Black Panther          $ 1346913161
4  Star Wars: Episode VIII - The Last Jedi          $ 1332539889
5           Jurassic World: Fallen Kingdom          $ 1308467944
6                     Beauty and the Beast          $ 1263521126
7                            Incredibles 2          $ 1242805359
8                  The Fate of the Furious          $ 1236005118
9                                  Aquaman          $ 1148161807

üß† Analysis:‚ÄìTop 10 Movies by Worldwide Gross Income

Query Purpose:

--To list the highest-grossing movies based on reported worldwide earnings.

Insights:

--Reflects the commercial success of movies globally.

--Can be compared with ratings to study correlation between quality and income.

--Helps understand box office trends and audience reach.

In [9]:
# üìå Question 6: Most Common Languages in Movies
query6 = """
SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(languages, ',', n), ',', -1) AS language, COUNT(*) AS count
FROM movie
JOIN (SELECT a.N + b.N * 10 + 1 AS n FROM 
     (SELECT 0 AS N UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) a,
     (SELECT 0 AS N UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) b
     ORDER BY n) AS numbers
WHERE n <= 1 + LENGTH(languages) - LENGTH(REPLACE(languages, ',', ''))
GROUP BY language
ORDER BY count DESC
LIMIT 10;
"""
df6 = pd.read_sql(query6, engine)
print("\nüé§ Most Common Languages:\n", df6)

üé§ Most Common Languages:
     language  count
0    English   3624
1    English    510
2     French    393
3    Spanish    356
4      Hindi    296
5     French    219
6   Japanese    217
7    Spanish    210
8      Tamil    197
9  Malayalam    182

üß† Analysis:‚Äì Most Common Languages in Movies

Query Purpose:

--To analyze the most frequently used languages in the dataset.

Insights:

--Indicates language diversity and target audiences.

--Helps platforms offer multilingual content recommendations.

--Supports market segmentation and language localization efforts.

In [10]:
# üìå Question 7: Average Movie Duration per Year
query7 = """
SELECT year, ROUND(AVG(duration), 2) AS avg_duration
FROM movie
WHERE year IS NOT NULL
GROUP BY year
ORDER BY year;
"""
df7 = pd.read_sql(query7, engine)
print("\nüïú Average Movie Duration by Year:\n", df7)

üïú Average Movie Duration by Year:
    year  avg_duration
0  2017        102.66
1  2018        104.08
2  2019        105.51

üß† Analysis:‚Äì Average Movie Duration per Year

Query Purpose:

--To observe how average movie durations have changed over the years.

Insights:

--Tracks trends in storytelling formats (e.g., longer vs. shorter films).

--Useful for understanding how audience attention span or platform trends affect film length.

--Can be used by creators to align with audience expectations.

In [11]:
# üìå Question 8: Most Frequent Actors/Actresses
query8 = """
SELECT n.name, COUNT(*) AS appearances
FROM role_mapping r
JOIN names n ON r.name_id = n.id
WHERE r.category IN ('actor', 'actress')
GROUP BY n.name
ORDER BY appearances DESC
LIMIT 10;
"""
df8 = pd.read_sql(query8, engine)
print("\nüé¨ Top 10 Actors/Actresses:\n", df8)

üé¨ Top 10 Actors/Actresses:
                  name  appearances
0           Yogi Babu           11
1        Tom Sizemore           10
2        James Franco            9
3           Mammootty            8
4       Tovino Thomas            8
5        Frank Grillo            7
6  Riccardo Scamarcio            7
7        Eric Roberts            7
8      Nicholas Hoult            7
9        Emile Hirsch            7

üß† Analysis:‚Äì Most Frequent Actors/Actresses

Query Purpose:

--To identify the actors/actresses with the most movie appearances.

Insights:

--Highlights prolific performers with strong industry presence.

--May reflect both popularity and versatility.

--Useful for casting analysis, audience targeting, and brand value assessment.

In [12]:
# üìå Question 9: Average Rating by Genre
query9 = """
SELECT g.genre, ROUND(AVG(r.avg_rating), 2) AS avg_rating
FROM genre g
JOIN ratings r ON g.movie_id = r.movie_id
GROUP BY g.genre
ORDER BY avg_rating DESC;
"""
df9 = pd.read_sql(query9, engine)
print("\nüèÜ Average Rating by Genre:\n", df9)

üèÜ Average Rating by Genre:
         genre  avg_rating
0       Drama        6.21
1      Others        6.17
2     Romance        5.99
3      Family        5.95
4       Crime        5.93
5      Comedy        5.71
6     Fantasy        5.67
7     Mystery        5.65
8      Action        5.62
9   Adventure        5.59
10   Thriller        5.45
11     Sci-Fi        5.07
12     Horror        4.86

üß† Analysis:‚Äì Average Rating by Genre

Query Purpose:

--To compare genres based on the average rating of movies within them.

Insights:

--Helps identify genres that consistently receive critical acclaim.

--Useful for producers choosing genre combinations with strong reception.

--Insight into niche vs. mainstream genre quality.

In [13]:
# üìå Question 10: Top Production Companies with High-Rated Movies (>8)
query10 = """
SELECT production_company, COUNT(*) AS high_rated_count
FROM movie m
JOIN ratings r ON m.id = r.movie_id
WHERE r.avg_rating > 8 AND production_company IS NOT NULL AND production_company != ''
GROUP BY production_company
ORDER BY high_rated_count DESC
LIMIT 10;
"""
df10 = pd.read_sql(query10, engine)
print("\nüè¢ Top Production Companies (High Rated Movies):\n", df10)

üè¢ Top Production Companies (High Rated Movies):
           production_company  high_rated_count
0      National Theatre Live                 3
1     Dream Warrior Pictures                 3
2  Painted Creek Productions                 2
3       Lietuvos Kinostudija                 2
4  Colour Yellow Productions                 2
5   Central Base Productions                 2
6     Swadharm Entertainment                 2
7           National Theatre                 2
8             Marvel Studios                 2
9           Panorama Studios                 2

üß† Analysis:‚Äì Top Production Companies with High-Rated Movies

Query Purpose:

--To find companies that frequently produce highly rated movies (rating > 8).

Insights:

--Highlights successful and reliable production houses.

--Helps investors, partners, or creators choose collaborations wisely.

--Can inform reputation and quality benchmarking in the industry.


---

## ‚úÖ Summary & Insights

This notebook demonstrates how to connect to a MySQL database using SQLAlchemy and run analytical SQL queries with Python.  
Each question helped uncover insights from the IMDb dataset ‚Äî from top-rated films to dominant genres and influential directors.

Use this notebook as a reference for real-world data analysis projects using SQL + Python.

---